{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<br>
<br>
<div class="container">
<div class='col-md-8 offset-md-2'>
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Keni harruar fjalkalimin? Vendosni emailin tuaj me poshte, dhe ne do tju dergojme nje email duke ju lejuar ta ndryshoni ate." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn-primary btn" type="submit" value="{% trans 'Ndrysho Fjalkalimin' %}" />
    </form>

    <p>{% blocktrans %} Please contact us if you have any trouble resetting your password. {% endblocktrans %}</p>
</div></div>
{% endblock %}
