{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
      <div class="col-lg-9">
          <h1>Detajet e postimit:</h1>
        <!-- blog post -->
        <div class="blog-post">
          <img src="img/blog/1.jpg" alt="">
          <h3>{{ post.title }}</h3>
          <div class="blog-metas">
            <div class="blog-meta author">
              <div class="post-author set-bg" data-setbg="/media/{{ post.author.profile.profile_pic }}"></div>
              <a href="#">{{ post.author|capfirst }}</a>
            </div>
            <div class="blog-meta">
              <a href="#">{{ post.created_date }}</a>
            </div>
          </div>
          <p>{{ post.text|capfirst }} </p>
          <a href="/blog/" class="btn btn-dark">Kthehu</a>
          {% if post.author == request.user %}
          <a href="/blog/{{ post.id }}/delete" class="btn btn-danger">Fshij Postimin</a>
          {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock content %}
